fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.36
pg8000==1.31.2
python-jose[cryptography]==3.3.0
bcrypt==4.2.1
python-dotenv==1.0.1
python-multipart==0.0.12
websockets==13.1
pydantic[email]==2.10.6
aiofiles==23.2.1
cloudinary==1.40.0
firebase-admin==6.5.0
